
<!DOCTYPE html>
<html>
<head>
    <title>Add Airplane</title>
</head>
<body>
    <h1>Add a New Airplane</h1>
    <form method="post">
        <label>Airline ID:</label><br>
        <input type="text" name="airline_id"><br>

        <label>Tail Number:</label><br>
        <input type="text" name="tail_num"><br>

        <label>Seat Capacity:</label><br>
        <input type="number" name="seat_capacity"><br>

        <label>Speed:</label><br>
        <input type="number" name="speed"><br>

        <label>Location ID:</label><br>
        <input type="text" name="location_id"><br>

        <label>Plane Type:</label><br>
        <input type="text" name="plane_type"><br>

        <label>Maintained (true/false):</label><br>
        <input type="text" name="maintenanced"><br>

        <label>Model (only for Boeing):</label><br>
        <input type="number" name="model"><br>

        <label>Neo (only for Airbus):</label><br>
        <input type="text" name="neo"><br>

        <br><input type="submit" value="Add Airplane">
    </form>
</body>
</html>
