<!-- templates/add_airport.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Airport</title>
</head>
<body>
    <h1>Add a New Airport</h1>
    <form method="post">
        <label>Airport ID:</label><br>
        <input type="text" name="airport_id"><br>

        <label>Airport Name:</label><br>
        <input type="text" name="airport_name"><br>

        <label>City:</label><br>
        <input type="text" name="city"><br>

        <label>State:</label><br>
        <input type="text" name="state"><br>

        <label>Country:</label><br>
        <input type="text" name="country"><br>

        <label>Location ID:</label><br>
        <input type="text" name="location_id"><br>

        <br><input type="submit" value="Add Airport">
    </form>
</body>
</html>
