<!DOCTYPE html>
<html>
<head>
    <title>Add Person</title>
</head>
<body>
    <h1>Add a New Person</h1>
    <form method="post">
        <label>Person ID:</label><br>
        <input type="text" name="person_id"><br>

        <label>First Name:</label><br>
        <input type="text" name="first_name"><br>

        <label>Last Name (optional):</label><br>
        <input type="text" name="last_name"><br>

        <label>Location ID:</label><br>
        <input type="text" name="location_id"><br>

        <label>Tax ID (xxx-xx-xxxx):</label><br>
        <input type="text" name="tax_id"><br>

        <label>Experience (for pilots):</label><br>
        <input type="number" name="experience"><br>

        <label>Miles (for passengers):</label><br>
        <input type="number" name="miles"><br>

        <label>Funds (for passengers):</label><br>
        <input type="number" name="funds"><br>

        <br><input type="submit" value="Add Person">
    </form>
</body>
</html>
